.page__header {
  border-bottom: 1px solid #E5E5E5;
}
.region--header {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .block--system-branding {
    margin-left: auto;
  }
}