// Global elements styling, e.g. for headings, buttons, links, etc.
// -----------------------------------------------------------------------------

h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0px;
}