{#
/**
 * @file
 * Theme override to display the navbar-left region.
 */
#}
{% set attributes = attributes.addClass(['region', 'region--header', 'd-flex align-items-center']) %}

<div{{ attributes }}>
  {{ content }}
</div>